{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Why PodPal?
  </h3>
  <p>
   Gensler’s 2019 U.S. Workplace Survey revealed that “environments that are mostly open environments but provide ample on-demand private space have both the highest effectiveness and the highest experience scores.”</p>

  <p>The amenities with the highest effectiveness and experience scores have a common trend, they help employees work more efficiently. The spaces encompass areas for innovation, making, and collaboration, while providing quiet places to perform focused or individual work. With the growth of the open office layout, it is not a surprise to see focus rooms on the list of the top five workplace amenities.</p>
  <P>The Global pandemic also means that organisations are rethinking the way they design their working environments. </P>
   <p> Focus rooms provide a space that allows employees to touch down and that's where PodPal comes in. </p>
  <P> Our system can be integrated with any small private workspace to make booking easy.</P>
  <P>Features include:</P>
  <ul>
  <li> Custom Barcode for easy sign in </li>
    <li> An online portal for 2 click bookings</li>
    <li> Simple Notifications for your office manager</li>
  </ul>
</section>