{{> welcomemenu }}


<section class="ui center aligned middle aligned segment">
  <div class="introduction">

    <h1 class="ui inverted header">
        <span class="site-title">
          PodPal
        </span>
      <span class="tagline">
         Focusing <span class="wt-blue wt-emphasis">FIRST</span>!
        </span>
    </h1>
    <div class="ui hidden divider"></div>

    <a href="/about" class="ui huge inverted button">
      Learn More
    </a>
    <a href="/login" class="ui huge inverted button">Log in</a>
  </div>
</section>
<section class="ui center aligned middle aligned segment">

</section>