<form class="ui stacked segment form" action="/dashboard/addDevice" method="POST">
  <h2 class="ui header">
    Add a Device
  </h2>
  <div class="field">
    <label><h4>Device MAC address</h4></label>
    <input placeholder="AA:BB:CC:DD:EE:FF" id="MACaddress" type="text" name="MACaddress" required>
  </div>

  <button class="ui submit button">Add Station</button>
</form>
