<form class="ui stacked segment form" action="/dashboard/addemployee" method="POST">
  <h2 class="ui header">
    Invite Employees / Users
  </h2>
  <div class="field">
    <label><h4>Emails to invite</h4></label>
    <textarea id="employees" name="emailstoinvite" placeholder="Enter email addresses of people to invite to use your system. Enter one address per line"></textarea>
 </div>

  <button class="ui submit button">Invite</button>
</form>
