<table class="ui fixed table">
  <thead>
  <tr>
    <th>Email</th>
    <th>Barcode</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each employees}}
  <tr>
    <td>
      {{email}}
    </td>
    <td>
      <svg class="barcode"
           jsbarcode-width="1"
           jsbarcode-height="50"
           jsbarcode-value="{{barcodeid}}"
           jsbarcode-textmargin="0"
           jsbarcode-fontoptions="bold">
      </svg><br>
    </td>
    <td>
      <a href="/revoke/{{../currentUser}}/{{id}}" class="ui tiny button">Revoke</a>
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>

<script>JsBarcode(".barcode").init();</script>